:root {
font-size: 18px;
--color-letter: #3972B8;
--font-principal: 'Helvetica Neue', 'Segoe UI', 'Ubuntu';
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 400px) {
  :root{
      font-size: 14px;
  }}