.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
}

.form{
    margin-left: 100px;
    margin-top: 0px;
    width: 51vw;
    height: max-content;
}

.error{
    color:rgba(252, 64, 64, 0.897);
    text-align: center;
}

.buttonGet {
    border: solid 1px;
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
    background-color: rgb(245, 225, 188);
    color: #D29D2B;
    font-size: 1.5rem;
    transition: 500ms;
}

.blockButtons{
    width: max-content;
    margin-left: 40%;
}

.imagen{
    width: 350px;
    height: 350px;
    margin-right: 100px;
}